/* Importation de la police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

/* Pour toute la page */
body {
  font-family: 'Delius Swash Caps', Arial, Helvetica, sans-serif;
  /* background-color: #c2cae8; */
}

/* Mode jour */
.mode-jour {
  background-color: #c2cae8;
}

/* Mode nuit */
.mode-nuit {
  background-color: #111d4a;
}

.header {
  width: 100%;
  background-color: #ec5252;
}

.footer {
  background-color: #ec5252;
}

/* Préparation du terrain pour afficher les pokémon */
.main-pokemon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  flex-wrap: wrap;
}

/* Pour afficher un pokémon */
.div-pokemon {
  display: block;
  border: 3px solid black;
  border-radius: 8px;
  margin-left: 2rem;
  margin-right: 2rem;
}

/* Pour afficher le nom du pokémon et son numéro dans le podédex */
.div-nom-numero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.taille-img {
  width: 50%;
  height: auto;
}

/* Pour le titre de jour */
.titre-jour {
  font-size: x-large;
  color: #111d4a;
}

/* Pour le titre de nuit */
.titre-nuit {
  color: #c2cae8;
}

/* Les boutons du mode jour */

.btns-jour {
  width: 150px;
  height: auto;
  font-size: large;
  border: 3px solid #000000;
  background-color: #6284f3;
  color: white;
}

/* Quand l'utilisateur passe sa souris sur les boutons */
.btns-jour:hover {
  background-color: #516194;
  border: 3px solid #000000;
  color: white;
}

/* Les boutons du mode nuit */

.btns-nuit {
  width: 200px;
  height: auto;
  font-size: xx-large;
  border: 3px solid #c2cae8;
  background-color: brown;
}

/* Quand l'utilisateur passe sa souris sur les boutons */
.btns-nuit:hover {
  background-color: rgb(152, 101, 101);
}